In [7]:
import pandas as pd
import numpy as np

# SERIES

In [2]:
#SERIES
#untuk panggil sesuai index => y[0]
x = [4,6,5,7,8,9,3,2,4,5,7]
y = pd.Series(x)
y

0     4
1     6
2     5
3     7
4     8
5     9
6     3
7     2
8     4
9     5
10    7
dtype: int64

In [3]:
x = [4,6,5,7,8,9,3,2,4,5,7]
y = pd.Series(np.array(x))
y

0     4
1     6
2     5
3     7
4     8
5     9
6     3
7     2
8     4
9     5
10    7
dtype: int64

In [4]:
x = ['andi','budi','caca']
y = pd.Series(np.array(x))
y

0    andi
1    budi
2    caca
dtype: object

In [5]:
y[1::]

1    budi
2    caca
dtype: object

In [6]:
#UNTUK GANTI INDEXNYA
x = [4,6,5,7,8]
y = pd.Series(np.array(x), index = ['a','b','c','d','e'])
y

a    4
b    6
c    5
d    7
e    8
dtype: int64

In [7]:
y['a']

4

In [8]:
#KASIH NAMA SERIES 
x = [4,6,5,7,8]
y = pd.Series(np.array(x), index = ['a','b','c','d','e'], name = 'Test')
y

a    4
b    6
c    5
d    7
e    8
Name: Test, dtype: int64

In [9]:
#DICT (key nya jadi index)
y = pd.Series(
    data = {'a':2,'b':3},
    name = 'Test'
)
y

a    2
b    3
Name: Test, dtype: int64

In [10]:
#DATAFRAME
x = [2,4,6,8,10]
# x = np.array(x) => bisa pakai numpy array
df = pd.DataFrame(x, columns = ['Nilai'])
df

   Nilai
0      2
1      4
2      6
3      8
4     10

In [11]:
df.shape #(5,1)=> baris =5, kol = 1

(5, 1)

In [12]:
x = [2,4,6,8,10]
y = [1,3,5,7,9]
df = pd.DataFrame([x,y]) #=> jadi 5 col 
df

   0  1  2  3   4
0  2  4  6  8  10
1  1  3  5  7   9

In [13]:
#KL MAU HANYA 2 COL
x = [[1,2], [3,4], [5,6], [7,8]]
df = pd.DataFrame(x)
df

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [14]:
#bikin dataframe yang diubah list dalam list
x = [2,4,6,8,10]
y = [1,3,5,7,9]
z = map(lambda a,b: [a,b], x,y)
z = list(z)
df = pd.DataFrame(z) #=> jadi 2 col 
df

    0  1
0   2  1
1   4  3
2   6  5
3   8  7
4  10  9

In [15]:
df[0] #=> mengeluarkan col ke 0

0     2
1     4
2     6
3     8
4    10
Name: 0, dtype: int64

In [16]:
#buat langsung 2 kolom tanpa lamda 
x = [2,4,6,8,10]
y = [1,3,5,7,9]
df = pd.DataFrame()
df['X'] = x
df['Y'] = y
df

    X  Y
0   2  1
1   4  3
2   6  5
3   8  7
4  10  9

In [17]:
x = [2,4,6,8,10]
y = [1,3,5,7,9]
df = pd.DataFrame(np.array(x), columns =['Nilai'])
df

   Nilai
0      2
1      4
2      6
3      8
4     10

In [18]:
data = [
    ['Putu', 'Denpasar', 'PNS'],
    ['Kadek', 'Jakarta', 'Siswa'],
    ['Nyoman', 'Bekasi', 'Petani'],
    
]
dfData = pd.DataFrame(
    data, index= list('abc'),
    columns = ['Nama', 'Kota', 'Pekerjaan'])
dfData

     Nama      Kota Pekerjaan
a    Putu  Denpasar       PNS
b   Kadek   Jakarta     Siswa
c  Nyoman    Bekasi    Petani

In [19]:
#DATAFRAME DARI DICT YANG ADA LISTNYA
data = {
    'x': [898,878,656],
    'y': [999,726,736],
    'z': [647,727,638]
}
df = pd.DataFrame(data)
df

     x    y    z
0  898  999  647
1  878  726  727
2  656  736  638

In [20]:
#DATAFRAME DARI LIST OF DICT 
data = [
    {'nama': "Putu", 'kota': "Jakarta"},
    {'nama': "Kadek", 'kota': "Jakarta"},
    {'nama': "Nyoman", 'kota': "Jakarta"},
    {'nama': "Ketut", 'kota': 'Jakarta', 'job': "PNS"},
]
df = pd.DataFrame(data)
df

     nama     kota  job
0    Putu  Jakarta  NaN
1   Kadek  Jakarta  NaN
2  Nyoman  Jakarta  NaN
3   Ketut  Jakarta  PNS

In [21]:
#BUAT DATAFRAME DARI SERIES

x =[1,2,3,4,5]
x = pd.Series(x, name = 'Test')
df = pd.DataFrame(x)
df

   Test
0     1
1     2
2     3
3     4
4     5

In [22]:
x =[1,2,3,4,5]
x = pd.Series(x, name = 'Test')
y = [1,2,3,4,5]
y = pd.Series(y, name = 'Try')
df = pd.DataFrame({
    'Col.X' : x,
    'Col.Y' : y
})
df

   Col.X  Col.Y
0      1      1
1      2      2
2      3      3
3      4      4
4      5      5

In [23]:
x =[1,2,3,4,5]
x = pd.Series(x, name = 'Test')
y = [1,2,3,4,5]
y = pd.Series(y, name = 'Try')
df = pd.DataFrame({
    x.name : x,
    y.name : y
})
df

   Test  Try
0     1    1
1     2    2
2     3    3
3     4    4
4     5    5

In [24]:
df = pd.DataFrame({
    'A': np.arange(20,26),
    'B': [54,8,97,67,23,45],
    'C': 99,
    'D' : np.ones(6)
})
df

    A   B   C    D
0  20  54  99  1.0
1  21   8  99  1.0
2  22  97  99  1.0
3  23  67  99  1.0
4  24  23  99  1.0
5  25  45  99  1.0

In [25]:
df.head(6)

    A   B   C    D
0  20  54  99  1.0
1  21   8  99  1.0
2  22  97  99  1.0
3  23  67  99  1.0
4  24  23  99  1.0
5  25  45  99  1.0

In [26]:
list(df.index)

[0, 1, 2, 3, 4, 5]

In [27]:
list(df.columns)

['A', 'B', 'C', 'D']

In [28]:
df.values #=> untuk ubah jadi numpy array

array([[20., 54., 99.,  1.],
       [21.,  8., 99.,  1.],
       [22., 97., 99.,  1.],
       [23., 67., 99.,  1.],
       [24., 23., 99.,  1.],
       [25., 45., 99.,  1.]])

In [29]:
df.describe()

               A          B     C    D
count   6.000000   6.000000   6.0  6.0
mean   22.500000  49.000000  99.0  1.0
std     1.870829  31.704889   0.0  0.0
min    20.000000   8.000000  99.0  1.0
25%    21.250000  28.500000  99.0  1.0
50%    22.500000  49.500000  99.0  1.0
75%    23.750000  63.750000  99.0  1.0
max    25.000000  97.000000  99.0  1.0

In [30]:
df['A'].values

array([20, 21, 22, 23, 24, 25])

In [31]:
df.sort_index(ascending=False)

    A   B   C    D
5  25  45  99  1.0
4  24  23  99  1.0
3  23  67  99  1.0
2  22  97  99  1.0
1  21   8  99  1.0
0  20  54  99  1.0

In [32]:
df.sort_index(ascending=False, axis = 1)

     D   C   B   A
0  1.0  99  54  20
1  1.0  99   8  21
2  1.0  99  97  22
3  1.0  99  67  23
4  1.0  99  23  24
5  1.0  99  45  25

In [33]:
df.sort_index(ascending=False, axis = 1)
df

    A   B   C    D
0  20  54  99  1.0
1  21   8  99  1.0
2  22  97  99  1.0
3  23  67  99  1.0
4  24  23  99  1.0
5  25  45  99  1.0

In [47]:
df.sort_index(ascending=False, axis = 1, inplace = True)
df

     D   C   B   A
0  1.0  99  54  20
1  1.0  99   8  21
2  1.0  99  97  22
3  1.0  99  67  23
4  1.0  99  23  24
5  1.0  99  45  25

In [35]:
df.sort_values(by='B')

     D   C   B   A
1  1.0  99   8  21
4  1.0  99  23  24
5  1.0  99  45  25
0  1.0  99  54  20
3  1.0  99  67  23
2  1.0  99  97  22

In [36]:
df.sort_values(by=['A','B'], ascending = False)

     D   C   B   A
5  1.0  99  45  25
4  1.0  99  23  24
3  1.0  99  67  23
2  1.0  99  97  22
1  1.0  99   8  21
0  1.0  99  54  20

In [37]:
df.sort_values(by=['A','B'], ascending = [False, True])

     D   C   B   A
5  1.0  99  45  25
4  1.0  99  23  24
3  1.0  99  67  23
2  1.0  99  97  22
1  1.0  99   8  21
0  1.0  99  54  20

In [38]:
df[['A', 'C']]

    A   C
0  20  99
1  21  99
2  22  99
3  23  99
4  24  99
5  25  99

In [39]:
df[0:3]

     D   C   B   A
0  1.0  99  54  20
1  1.0  99   8  21
2  1.0  99  97  22

In [40]:
df[::2]

     D   C   B   A
0  1.0  99  54  20
2  1.0  99  97  22
4  1.0  99  23  24

In [41]:
df.loc[0] #LOC => PARAMETER PERTAMA HARUS BARISNYA DULU

D     1.0
C    99.0
B    54.0
A    20.0
Name: 0, dtype: float64

In [42]:
df.loc[0:2]

     D   C   B   A
0  1.0  99  54  20
1  1.0  99   8  21
2  1.0  99  97  22

In [43]:
df

     D   C   B   A
0  1.0  99  54  20
1  1.0  99   8  21
2  1.0  99  97  22
3  1.0  99  67  23
4  1.0  99  23  24
5  1.0  99  45  25

In [44]:
df.loc[0,'A']

20

In [45]:
#LOC CALL BY NAME
df.loc[1, ['B', 'D']]

B    8.0
D    1.0
Name: 1, dtype: float64

In [50]:
#SET INDEX
df = df.set_index('D')
df

      C   B
D
1.0  99  54
1.0  99   8
1.0  99  97
1.0  99  67
1.0  99  23
1.0  99  45

In [52]:
df = pd.DataFrame({
    'A': np.arange(20,26),
    'B': [54,8,97,67,23,45],
    'C': 99,
    'D' : np.ones(6)
})
df.set_index('A')

     B   C    D
A
20  54  99  1.0
21   8  99  1.0
22  97  99  1.0
23  67  99  1.0
24  23  99  1.0
25  45  99  1.0

In [53]:
df.index = df['A'] #=> A sebagai indeks, tetapi A juga ada pada kolom 
df

     A   B   C    D
A
20  20  54  99  1.0
21  21   8  99  1.0
22  22  97  99  1.0
23  23  67  99  1.0
24  24  23  99  1.0
25  25  45  99  1.0

In [58]:
#ILOC CALL BY URUTAN INDEX = INT
df.loc[20, 'A'] #=> INDEKS KE a, KOL KE A
# df.iloc[0,0] #=> INDEKS KE O KOL KE O 
# df.loc[:,'A']

20

In [59]:
df.iloc[3:5, 0:3] #indeks ke 3-4, kolom 0-3

     A   B   C
A
23  23  67  99
24  24  23  99

In [60]:
#MERUBAH NAMA KOLOM
df.index = list('abcdef')
df.columns = ['Nama', 'Nilai', 'Value', 'Ranking']
df

   Nama  Nilai  Value  Ranking
a    20     54     99      1.0
b    21      8     99      1.0
c    22     97     99      1.0
d    23     67     99      1.0
e    24     23     99      1.0
f    25     45     99      1.0

In [61]:
df.iloc[::2].sort_values(
    by = ['Nilai', 'Value'],
    ascending = [False, True])

   Nama  Nilai  Value  Ranking
c    22     97     99      1.0
a    20     54     99      1.0
e    24     23     99      1.0

In [62]:
df.iloc[::2].sort_values(
    by = ['Nilai', 'Value'],
    ascending = [False, True]
)[['Nama', 'Nilai']]

   Nama  Nilai
c    22     97
a    20     54
e    24     23

# READ CSV, JSON, EXCEL, MONGODB DAN SQL

In [63]:
mydf = pd.read_csv('datapand.csv')
mydf

   no    nama       kota
0   1    Putu   Denpasar
1   2   Kadek        BSD
2   3  Nyoman  Tangerang

In [64]:
df = pd.read_excel('X.xlsx')
df

    Nomor                       Nama                Posisi              Negara
0       1            Hector Bellerin            Right Back               Spain
1       2                 Mesut Ozil            Midfielder             Germany
2       3          Emiliano Martinez            Goalkeeper           Argentina
3       4             Calum Chambers              Defender             England
4       5                 Matt Macey            Goalkeeper             England
5       6     Ainsley Maitland-Niles            Midfielder             England
6       7             Kieran Tierney              Defender            Scotland
7       8        Alexandre Lacazette               Forward              France
8       9           Shkodran Mustafi              Defender             Germany
9      10                 David Luiz              Defender              Brazil
10     11  Sokratis Papastathopoulos              Defender              Greece
11     12  Pierre-Emerick Aubameyang               Forward               Gabon
12     13                 Bernd Leno            Goalkeeper             Germany
13     14            Daniel Ceballos     Centre Midfielder               Spain
14     15               Granit Xhaka            Midfielder         Switzerland
15     16                Rob Holding           Centre Back             England
16     17             Sead Kolasinac              Defender  Bosnia-Herzegovina
17     18    Konstantinos Mavropanos              Defender              Greece
18     19           Matteo Guendouzi     Centre Midfielder              France
19     20             Lucas Torreira  Defensive Midfielder             Uruguay
20     21                 Unai Emery               Manager               Spain
21     22              Nicolas Pepe                 Winger              France
22     23            Jherson Vergara              Defender            Colombia
23     24             Victor Alvarez             Left Back               Spain
24     25            Maksim Belyayev              Defender              Russia

In [65]:
df = pd.read_json('file.json')
df

   no  nama      kota
0   1  Andi   Jakarta
1   2  Budi   Bandung
2   3  Caca  Surabaya

In [66]:
df['nama']

0    Andi
1    Budi
2    Caca
Name: nama, dtype: object

In [67]:
df[['nama', 'kota']]

   nama      kota
0  Andi   Jakarta
1  Budi   Bandung
2  Caca  Surabaya

In [68]:
df[['no', 'nama']]

   no  nama
0   1  Andi
1   2  Budi
2   3  Caca

In [69]:
#LATIHAN 
# create dataframe:
#     csv
#     excel
#     json

# create dataframe;
#     db mysql
#     db mongodb

In [76]:
#DATAFRAME DARI CSV
import csv
data = open('file.csv', 'r') 
x = csv.reader(data)
x= list(x)
x

[['no', 'nama', 'kota'],
 ['1.0', 'Andi', 'Jakarta'],
 ['2.0', 'Budi', 'Bandung'],
 ['3.0', 'Caca', 'Surabaya']]

In [82]:
df = pd.DataFrame(x[1:], columns = x[0])
df

    no  nama      kota
0  1.0  Andi   Jakarta
1  2.0  Budi   Bandung
2  3.0  Caca  Surabaya

In [83]:
#DATAFRAME DARI JSON
import json 
with open('file.json', 'r') as x:
    out = json.load(x)
out

[{'no': 1, 'nama': 'Andi', 'kota': 'Jakarta'},
 {'no': 2, 'nama': 'Budi', 'kota': 'Bandung'},
 {'no': 3, 'nama': 'Caca', 'kota': 'Surabaya'}]

In [84]:
df = pd.DataFrame(out)
df

   no  nama      kota
0   1  Andi   Jakarta
1   2  Budi   Bandung
2   3  Caca  Surabaya

In [17]:
#DATAFRAME DARI EXCEL
import xlrd 
data = xlrd.open_workbook('X.xlsx')
sheet1 = data.sheet_by_index(0)
data1= []
for i in range (sheet1.nrows):
    data1.append(sheet1.row_values(i))
data1

[['Nomor', 'Nama', 'Posisi', 'Negara'],
 [1.0, 'Hector Bellerin', 'Right Back', 'Spain'],
 [2.0, 'Mesut Ozil', 'Midfielder', 'Germany'],
 [3.0, 'Emiliano Martinez', 'Goalkeeper', 'Argentina'],
 [4.0, 'Calum Chambers', 'Defender', 'England'],
 [5.0, 'Matt Macey', 'Goalkeeper', 'England'],
 [6.0, 'Ainsley Maitland-Niles', 'Midfielder', 'England'],
 [7.0, 'Kieran Tierney', 'Defender', 'Scotland'],
 [8.0, 'Alexandre Lacazette', 'Forward', 'France'],
 [9.0, 'Shkodran Mustafi', 'Defender', 'Germany'],
 [10.0, 'David Luiz', 'Defender', 'Brazil'],
 [11.0, 'Sokratis Papastathopoulos', 'Defender', 'Greece'],
 [12.0, 'Pierre-Emerick Aubameyang', 'Forward', 'Gabon'],
 [13.0, 'Bernd Leno', 'Goalkeeper', 'Germany'],
 [14.0, 'Daniel Ceballos', 'Centre Midfielder', 'Spain'],
 [15.0, 'Granit Xhaka', 'Midfielder', 'Switzerland'],
 [16.0, 'Rob Holding', 'Centre Back', 'England'],
 [17.0, 'Sead Kolasinac', 'Defender', 'Bosnia-Herzegovina'],
 [18.0, 'Konstantinos Mavropanos', 'Defender', 'Greece'],
 [19.0, 'Matteo Guendouzi', 'Centre Midfielder', 'France'],
 [20.0, 'Lucas Torreira', 'Defensive Midfielder', 'Uruguay'],
 [21.0, 'Unai Emery', 'Manager', 'Spain'],
 [22.0, 'Nicolas Pepe ', 'Winger', 'France'],
 [23.0, 'Jherson Vergara', 'Defender', 'Colombia'],
 [24.0, 'Victor Alvarez', 'Left Back', 'Spain'],
 [25.0, 'Maksim Belyayev', 'Defender', 'Russia']]

In [19]:
df = pd.DataFrame(data1[1:], columns=data1[0])
df

    Nomor                       Nama                Posisi              Negara
0     1.0            Hector Bellerin            Right Back               Spain
1     2.0                 Mesut Ozil            Midfielder             Germany
2     3.0          Emiliano Martinez            Goalkeeper           Argentina
3     4.0             Calum Chambers              Defender             England
4     5.0                 Matt Macey            Goalkeeper             England
5     6.0     Ainsley Maitland-Niles            Midfielder             England
6     7.0             Kieran Tierney              Defender            Scotland
7     8.0        Alexandre Lacazette               Forward              France
8     9.0           Shkodran Mustafi              Defender             Germany
9    10.0                 David Luiz              Defender              Brazil
10   11.0  Sokratis Papastathopoulos              Defender              Greece
11   12.0  Pierre-Emerick Aubameyang               Forward               Gabon
12   13.0                 Bernd Leno            Goalkeeper             Germany
13   14.0            Daniel Ceballos     Centre Midfielder               Spain
14   15.0               Granit Xhaka            Midfielder         Switzerland
15   16.0                Rob Holding           Centre Back             England
16   17.0             Sead Kolasinac              Defender  Bosnia-Herzegovina
17   18.0    Konstantinos Mavropanos              Defender              Greece
18   19.0           Matteo Guendouzi     Centre Midfielder              France
19   20.0             Lucas Torreira  Defensive Midfielder             Uruguay
20   21.0                 Unai Emery               Manager               Spain
21   22.0              Nicolas Pepe                 Winger              France
22   23.0            Jherson Vergara              Defender            Colombia
23   24.0             Victor Alvarez             Left Back               Spain
24   25.0            Maksim Belyayev              Defender              Russia

In [23]:
#DATAFRAME FROM DB SQL 
import mysql.connector 

db = mysql.connector.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    passwd = '1992Kadek',
    database = 'ptABC',
)
c = db.cursor()
sql = 'select * from karyawan'
c.execute(sql)
data = c.fetchall()
data

[(1,
  None,
  5000000,
  'Hani',
  {'wanita'},
  datetime.datetime(2019, 11, 21, 9, 35, 47),
  None),
 (3,
  None,
  5000000,
  'Budi',
  {'pria'},
  datetime.datetime(2019, 11, 21, 9, 44, 10),
  None),
 (4,
  None,
  7500000,
  'Dina',
  {'wanita'},
  datetime.datetime(2019, 11, 21, 9, 40, 24),
  None),
 (5,
  None,
  5000000,
  'Budi',
  {'pria'},
  datetime.datetime(2019, 11, 21, 9, 40, 24),
  None),
 (6,
  None,
  12000000,
  'Budi',
  None,
  datetime.datetime(2019, 11, 21, 9, 56, 16),
  None),
 (9,
  None,
  20000000,
  'Zizi',
  None,
  datetime.datetime(2019, 11, 21, 12, 0, 38),
  None)]

In [9]:
df = pd.DataFrame(x)
df

   0     1         2     3         4                   5     6
0  1  None   5000000  Hani  {wanita} 2019-11-21 09:35:47  None
1  3  None   5000000  Budi    {pria} 2019-11-21 09:44:10  None
2  4  None   7500000  Dina  {wanita} 2019-11-21 09:40:24  None
3  5  None   5000000  Budi    {pria} 2019-11-21 09:40:24  None
4  6  None  12000000  Budi      None 2019-11-21 09:56:16  None
5  9  None  20000000  Zizi      None 2019-11-21 12:00:38  None

In [21]:
c = db.cursor()
sql = 'describe karyawan'
c.execute(sql)
x = c.fetchall()
# x
listHeader = []
for i in x:
#     print(i[0])
    listHeader.append(i[0])
print(listHeader)

['id_kar', 'alamat', 'gaji', 'nama', 'gender', 'created_at', 'hobby']

In [24]:
df = pd.DataFrame(data, columns = listHeader)
df

   id_kar alamat      gaji  nama    gender          created_at hobby
0       1   None   5000000  Hani  {wanita} 2019-11-21 09:35:47  None
1       3   None   5000000  Budi    {pria} 2019-11-21 09:44:10  None
2       4   None   7500000  Dina  {wanita} 2019-11-21 09:40:24  None
3       5   None   5000000  Budi    {pria} 2019-11-21 09:40:24  None
4       6   None  12000000  Budi      None 2019-11-21 09:56:16  None
5       9   None  20000000  Zizi      None 2019-11-21 12:00:38  None

In [12]:
#DATAFRAME DARI MONGODB
import pymongo
dburl = 'mongodb://localhost:27017/'
mymongo = pymongo.MongoClient(dburl)
mycol = mymongo['resto']
data = list(mycol.resto.find())
data

[{'_id': ObjectId('5ddb68d1578412652890a12c'),
  'address': {'building': '2780',
   'coord': [-73.98241999999999, 40.579505],
   'street': 'Stillwell Avenue',
   'zipcode': '11224'},
  'borough': 'Brooklyn',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 6, 10, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}],
  'name': 'Riviera Caterer',
  'restaurant_id': '40356018'},
 {'_id': ObjectId('5ddb68d1578412652890a12d'),
  'address': {'building': '469',
   'coord': [-73.961704, 40.662942],
   'street': 'Flatbush Avenue',
   'zipcode': '11225'},
  'borough': 'Brooklyn',
  'cuisine': 'Hamburgers',
  'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
    'grade': 'A',
    'score': 8},
   {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23},
   {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}],
  'name': "Wendy'S",
  'restaurant_id': '30112340'},
 {'_id': ObjectId('5ddb68d1578412652890a12e'),
  'address': {'building': '1007',
   'coord': [-73.856077, 40.848447],
   'street': 'Morris Park Ave',
   'zipcode': '10462'},
  'borough': 'Bronx',
  'cuisine': 'Bakery',
  'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
    'grade': 'A',
    'score': 2},
   {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}],
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'_id': ObjectId('5ddb68d1578412652890a12f'),
  'address': {'building': '351',
   'coord': [-73.98513559999999, 40.7676919],
   'street': 'West   57 Street',
   'zipcode': '10019'},
  'borough': 'Manhattan',
  'cuisine': 'Irish',
  'grades': [{'date': datetime.datetime(2014, 9, 6, 0, 0),
    'grade': 'A',
    'score': 2},
   {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 7, 31, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2011, 12, 29, 0, 0), 'grade': 'A', 'score': 12}],
  'name': 'Dj Reynolds Pub And Restaurant',
  'restaurant_id': '30191841'},
 {'_id': ObjectId('5ddb68d1578412652890a130'),
  'address': {'building': '97-22',
   'coord': [-73.8601152, 40.7311739],
   'street': '63 Road',
   'zipcode': '11374'},
  'borough': 'Queens',
  'cuisine': 'Jewish/Kosher',
  'grades': [{'date': datetime.datetime(2014, 11, 24, 0, 0),
    'grade': 'Z',
    'score': 20},
   {'date': datetime.datetime(2013, 1, 17, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 8, 2, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2011, 12, 15, 0, 0), 'grade': 'B', 'score': 25}],
  'name': 'Tov Kosher Kitchen',
  'restaurant_id': '40356068'},
 {'_id': ObjectId('5ddb68d1578412652890a131'),
  'address': {'building': '2206',
   'coord': [-74.1377286, 40.6119572],
   'street': 'Victory Boulevard',
   'zipcode': '10314'},
  'borough': 'Staten Island',
  'cuisine': 'Jewish/Kosher',
  'grades': [{'date': datetime.datetime(2014, 10, 6, 0, 0),
    'grade': 'A',
    'score': 9},
   {'date': datetime.datetime(2014, 5, 20, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 4, 4, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 1, 24, 0, 0), 'grade': 'A', 'score': 9}],
  'name': 'Kosher Island',
  'restaurant_id': '40356442'},
 {'_id': ObjectId('5ddb68d1578412652890a132'),
  'address': {'building': '8825',
   'coord': [-73.8803827, 40.7643124],
   'street': 'Astoria Boulevard',
   'zipcode': '11369'},
  'borough': 'Queens',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 11, 15, 0, 0),
    'grade': 'Z',
    'score': 38},
   {'date': datetime.datetime(2014, 5, 2, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2013, 3, 2, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2012, 2, 10, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Brunos On The Boulevard',
  'restaurant_id': '40356151'},
 {'_id': ObjectId('5ddb68d1578412652890a133'),
  'address': {'building': '7114',
   'coord': [-73.9068506, 40.6199034],
   'street': 'Avenue U',
   'zipcode': '11234'},
  'borough': 'Brooklyn',
  'cuisine': 'Delicatessen',
  'grades': [{'date': datetime.datetime(2014, 5, 29, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2013, 8, 3, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2012, 7, 18, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2011, 10, 14, 0, 0), 'grade': 'A', 'score': 9}],
  'name': "Wilken'S Fine Food",
  'restaurant_id': '40356483'},
 {'_id': ObjectId('5ddb68d1578412652890a134'),
  'address': {'building': '6409',
   'coord': [-74.00528899999999, 40.628886],
   'street': '11 Avenue',
   'zipcode': '11219'},
  'borough': 'Brooklyn',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 7, 18, 0, 0),
    'grade': 'A',
    'score': 12},
   {'date': datetime.datetime(2013, 7, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 2, 13, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 8, 16, 0, 0), 'grade': 'A', 'score': 2},
   {'date': datetime.datetime(2011, 8, 17, 0, 0), 'grade': 'A', 'score': 11}],
  'name': 'Regina Caterers',
  'restaurant_id': '40356649'},
 {'_id': ObjectId('5ddb68d1578412652890a135'),
  'address': {'building': '1839',
   'coord': [-73.9482609, 40.6408271],
   'street': 'Nostrand Avenue',
   'zipcode': '11226'},
  'borough': 'Brooklyn',
  'cuisine': 'Ice Cream, Gelato, Yogurt, Ices',
  'grades': [{'date': datetime.datetime(2014, 7, 14, 0, 0),
    'grade': 'A',
    'score': 12},
   {'date': datetime.datetime(2013, 7, 10, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 5},
   {'date': datetime.datetime(2012, 2, 23, 0, 0), 'grade': 'A', 'score': 8}],
  'name': 'Taste The Tropics Ice Cream',
  'restaurant_id': '40356731'},
 {'_id': ObjectId('5ddb68d1578412652890a136'),
  'address': {'building': '7715',
   'coord': [-73.9973325, 40.61174889999999],
   'street': '18 Avenue',
   'zipcode': '11214'},
  'borough': 'Brooklyn',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 4, 16, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2013, 4, 23, 0, 0), 'grade': 'A', 'score': 2},
   {'date': datetime.datetime(2012, 4, 24, 0, 0), 'grade': 'A', 'score': 5},
   {'date': datetime.datetime(2011, 12, 16, 0, 0), 'grade': 'A', 'score': 2}],
  'name': 'C & C Catering Service',
  'restaurant_id': '40357437'},
 {'_id': ObjectId('5ddb68d1578412652890a137'),
  'address': {'building': '1269',
   'coord': [-73.871194, 40.6730975],
   'street': 'Sutter Avenue',
   'zipcode': '11208'},
  'borough': 'Brooklyn',
  'cuisine': 'Chinese',
  'grades': [{'date': datetime.datetime(2014, 9, 16, 0, 0),
    'grade': 'B',
    'score': 21},
   {'date': datetime.datetime(2013, 8, 28, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2013, 4, 2, 0, 0), 'grade': 'C', 'score': 56},
   {'date': datetime.datetime(2012, 8, 15, 0, 0), 'grade': 'B', 'score': 27},
   {'date': datetime.datetime(2012, 3, 28, 0, 0), 'grade': 'B', 'score': 27}],
  'name': 'May May Kitchen',
  'restaurant_id': '40358429'},
 {'_id': ObjectId('5ddb68d1578412652890a138'),
  'address': {'building': '1',
   'coord': [-73.96926909999999, 40.7685235],
   'street': 'East   66 Street',
   'zipcode': '10065'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 5, 7, 0, 0),
    'grade': 'A',
    'score': 3},
   {'date': datetime.datetime(2013, 5, 3, 0, 0), 'grade': 'A', 'score': 4},
   {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2011, 12, 27, 0, 0), 'grade': 'A', 'score': 0}],
  'name': '1 East 66Th Street Kitchen',
  'restaurant_id': '40359480'},
 {'_id': ObjectId('5ddb68d1578412652890a139'),
  'address': {'building': '705',
   'coord': [-73.9653967, 40.6064339],
   'street': 'Kings Highway',
   'zipcode': '11223'},
  'borough': 'Brooklyn',
  'cuisine': 'Jewish/Kosher',
  'grades': [{'date': datetime.datetime(2014, 11, 10, 0, 0),
    'grade': 'A',
    'score': 11},
   {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 10, 4, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2012, 5, 21, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2011, 12, 30, 0, 0), 'grade': 'B', 'score': 19}],
  'name': 'Seuda Foods',
  'restaurant_id': '40360045'},
 {'_id': ObjectId('5ddb68d1578412652890a13a'),
  'address': {'building': '2300',
   'coord': [-73.8786113, 40.8502883],
   'street': 'Southern Boulevard',
   'zipcode': '10460'},
  'borough': 'Bronx',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0),
    'grade': 'A',
    'score': 11},
   {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4},
   {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}],
  'name': 'Wild Asia',
  'restaurant_id': '40357217'},
 {'_id': ObjectId('5ddb68d1578412652890a13b'),
  'address': {'building': '203',
   'coord': [-73.97822040000001, 40.6435254],
   'street': 'Church Avenue',
   'zipcode': '11218'},
  'borough': 'Brooklyn',
  'cuisine': 'Ice Cream, Gelato, Yogurt, Ices',
  'grades': [{'date': datetime.datetime(2014, 2, 10, 0, 0),
    'grade': 'A',
    'score': 2},
   {'date': datetime.datetime(2013, 1, 2, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 1, 9, 0, 0), 'grade': 'A', 'score': 3},
   {'date': datetime.datetime(2011, 11, 7, 0, 0), 'grade': 'P', 'score': 12},
   {'date': datetime.datetime(2011, 7, 21, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Carvel Ice Cream',
  'restaurant_id': '40360076'},
 {'_id': ObjectId('5ddb68d1578412652890a13c'),
  'address': {'building': '6909',
   'coord': [-74.0259567, 40.6353674],
   'street': '3 Avenue',
   'zipcode': '11209'},
  'borough': 'Brooklyn',
  'cuisine': 'Delicatessen',
  'grades': [{'date': datetime.datetime(2014, 8, 21, 0, 0),
    'grade': 'A',
    'score': 4},
   {'date': datetime.datetime(2014, 3, 5, 0, 0), 'grade': 'A', 'score': 3},
   {'date': datetime.datetime(2013, 1, 10, 0, 0), 'grade': 'A', 'score': 10}],
  'name': 'Nordic Delicacies',
  'restaurant_id': '40361390'},
 {'_id': ObjectId('5ddb68d1578412652890a13d'),
  'address': {'building': '284',
   'coord': [-73.9829239, 40.6580753],
   'street': 'Prospect Park West',
   'zipcode': '11215'},
  'borough': 'Brooklyn',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 11, 19, 0, 0),
    'grade': 'A',
    'score': 11},
   {'date': datetime.datetime(2013, 11, 14, 0, 0), 'grade': 'A', 'score': 2},
   {'date': datetime.datetime(2012, 12, 5, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 5, 17, 0, 0), 'grade': 'A', 'score': 11}],
  'name': 'The Movable Feast',
  'restaurant_id': '40361606'},
 {'_id': ObjectId('5ddb68d1578412652890a13e'),
  'address': {'building': '522',
   'coord': [-73.95171, 40.767461],
   'street': 'East   74 Street',
   'zipcode': '10021'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 9, 2, 0, 0),
    'grade': 'A',
    'score': 12},
   {'date': datetime.datetime(2013, 12, 19, 0, 0), 'grade': 'B', 'score': 16},
   {'date': datetime.datetime(2013, 5, 28, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 12, 7, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 3, 29, 0, 0), 'grade': 'A', 'score': 11}],
  'name': 'Glorious Food',
  'restaurant_id': '40361521'},
 {'_id': ObjectId('5ddb68d1578412652890a13f'),
  'address': {'building': '265-15',
   'coord': [-73.7032601, 40.7386417],
   'street': 'Hillside Avenue',
   'zipcode': '11004'},
  'borough': 'Queens',
  'cuisine': 'Ice Cream, Gelato, Yogurt, Ices',
  'grades': [{'date': datetime.datetime(2014, 10, 28, 0, 0),
    'grade': 'A',
    'score': 9},
   {'date': datetime.datetime(2013, 9, 18, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2012, 9, 20, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Carvel Ice Cream',
  'restaurant_id': '40361322'},
 {'_id': ObjectId('5ddb68d1578412652890a140'),
  'address': {'building': '129-08',
   'coord': [-73.839297, 40.78147],
   'street': '20 Avenue',
   'zipcode': '11356'},
  'borough': 'Queens',
  'cuisine': 'Delicatessen',
  'grades': [{'date': datetime.datetime(2014, 8, 16, 0, 0),
    'grade': 'A',
    'score': 12},
   {'date': datetime.datetime(2013, 8, 27, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 9, 20, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2011, 9, 29, 0, 0), 'grade': 'A', 'score': 10}],
  'name': "Sal'S Deli",
  'restaurant_id': '40361618'},
 {'_id': ObjectId('5ddb68d1578412652890a141'),
  'address': {'building': '759',
   'coord': [-73.9925306, 40.7309346],
   'street': 'Broadway',
   'zipcode': '10003'},
  'borough': 'Manhattan',
  'cuisine': 'Delicatessen',
  'grades': [{'date': datetime.datetime(2014, 1, 21, 0, 0),
    'grade': 'A',
    'score': 12},
   {'date': datetime.datetime(2013, 1, 4, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 6, 7, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2012, 1, 17, 0, 0), 'grade': 'A', 'score': 8}],
  'name': "Bully'S Deli",
  'restaurant_id': '40361708'},
 {'_id': ObjectId('5ddb68d1578412652890a142'),
  'address': {'building': '3406',
   'coord': [-73.94024739999999, 40.7623288],
   'street': '10 Street',
   'zipcode': '11106'},
  'borough': 'Queens',
  'cuisine': 'Delicatessen',
  'grades': [{'date': datetime.datetime(2014, 3, 19, 0, 0),
    'grade': 'A',
    'score': 3},
   {'date': datetime.datetime(2013, 3, 13, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 3, 27, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2011, 4, 5, 0, 0), 'grade': 'A', 'score': 7}],
  'name': "Steve Chu'S Deli & Grocery",
  'restaurant_id': '40361998'},
 {'_id': ObjectId('5ddb68d1578412652890a143'),
  'address': {'building': '502',
   'coord': [-73.976112, 40.786714],
   'street': 'Amsterdam Avenue',
   'zipcode': '10024'},
  'borough': 'Manhattan',
  'cuisine': 'Chicken',
  'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2014, 3, 4, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2013, 7, 18, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2013, 1, 9, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 4, 10, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2011, 11, 15, 0, 0), 'grade': 'A', 'score': 7}],
  'name': "Harriet'S Kitchen",
  'restaurant_id': '40362098'},
 {'_id': ObjectId('5ddb68d1578412652890a144'),
  'address': {'building': '18',
   'coord': [-73.996984, 40.72589],
   'street': 'West Houston Street',
   'zipcode': '10012'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 4, 3, 0, 0),
    'grade': 'A',
    'score': 9},
   {'date': datetime.datetime(2013, 4, 5, 0, 0), 'grade': 'A', 'score': 4},
   {'date': datetime.datetime(2012, 3, 21, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2011, 4, 27, 0, 0), 'grade': 'A', 'score': 5}],
  'name': 'Angelika Film Center',
  'restaurant_id': '40362274'},
 {'_id': ObjectId('5ddb68d1578412652890a145'),
  'address': {'building': '531',
   'coord': [-73.9634876, 40.6940001],
   'street': 'Myrtle Avenue',
   'zipcode': '11205'},
  'borough': 'Brooklyn',
  'cuisine': 'Hamburgers',
  'grades': [{'date': datetime.datetime(2014, 3, 18, 0, 0),
    'grade': 'A',
    'score': 8},
   {'date': datetime.datetime(2013, 3, 18, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2011, 9, 22, 0, 0), 'grade': 'A', 'score': 2}],
  'name': 'White Castle',
  'restaurant_id': '40362344'},
 {'_id': ObjectId('5ddb68d1578412652890a146'),
  'address': {'building': '730',
   'coord': [-73.96805719999999, 40.7925587],
   'street': 'Columbus Avenue',
   'zipcode': '10025'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 9, 12, 0, 0),
    'grade': 'B',
    'score': 26},
   {'date': datetime.datetime(2013, 8, 28, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2013, 3, 25, 0, 0), 'grade': 'B', 'score': 20},
   {'date': datetime.datetime(2012, 2, 14, 0, 0), 'grade': 'A', 'score': 12}],
  'name': 'P & S Deli Grocery',
  'restaurant_id': '40362264'},
 {'_id': ObjectId('5ddb68d1578412652890a147'),
  'address': {'building': '60',
   'coord': [-74.0085357, 40.70620539999999],
   'street': 'Wall Street',
   'zipcode': '10005'},
  'borough': 'Manhattan',
  'cuisine': 'Turkish',
  'grades': [{'date': datetime.datetime(2014, 9, 26, 0, 0),
    'grade': 'A',
    'score': 9},
   {'date': datetime.datetime(2013, 9, 18, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 9, 21, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 5, 9, 0, 0), 'grade': 'A', 'score': 11}],
  'name': 'The Country Cafe',
  'restaurant_id': '40362715'},
 {'_id': ObjectId('5ddb68d1578412652890a148'),
  'address': {'building': '195',
   'coord': [-73.9246028, 40.6522396],
   'street': 'East   56 Street',
   'zipcode': '11203'},
  'borough': 'Brooklyn',
  'cuisine': 'Caribbean',
  'grades': [{'date': datetime.datetime(2014, 5, 13, 0, 0),
    'grade': 'A',
    'score': 2},
   {'date': datetime.datetime(2013, 5, 8, 0, 0), 'grade': 'A', 'score': 7},
   {'date': datetime.datetime(2012, 9, 22, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2011, 6, 6, 0, 0), 'grade': 'A', 'score': 12}],
  'name': "Shashemene Int'L Restaura",
  'restaurant_id': '40362869'},
 {'_id': ObjectId('5ddb68d1578412652890a149'),
  'address': {'building': '103-05',
   'coord': [-73.8642349, 40.75356],
   'street': '37 Avenue',
   'zipcode': '11368'},
  'borough': 'Queens',
  'cuisine': 'Chinese',
  'grades': [{'date': datetime.datetime(2014, 4, 21, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2013, 11, 12, 0, 0), 'grade': 'A', 'score': 5},
   {'date': datetime.datetime(2013, 6, 4, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 11, 14, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2012, 10, 11, 0, 0), 'grade': 'P', 'score': 0},
   {'date': datetime.datetime(2012, 5, 24, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2011, 12, 8, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2011, 7, 20, 0, 0), 'grade': 'A', 'score': 11}],
  'name': 'Ho Mei Restaurant',
  'restaurant_id': '40362432'},
 {'_id': ObjectId('5ddb68d1578412652890a14a'),
  'address': {'building': '107',
   'coord': [-74.00920839999999, 40.7132925],
   'street': 'Church Street',
   'zipcode': '10007'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 7, 18, 0, 0),
    'grade': 'A',
    'score': 12},
   {'date': datetime.datetime(2014, 2, 26, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2013, 8, 26, 0, 0), 'grade': 'A', 'score': 9},

In [11]:
df = pd.DataFrame(data)
df

,_id,address,borough,cuisine,grades,name,restaurant_id
0,5ddb68d1578412652890a12c,"{'building': '2780', 'coord': [-73.98241999999...",Brooklyn,American,"[{'date': 2014-06-10 00:00:00, 'grade': 'A', '...",Riviera Caterer,40356018
1,5ddb68d1578412652890a12d,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
2,5ddb68d1578412652890a12e,"{'building': '1007', 'coord': [-73.856077, 40....",Bronx,Bakery,"[{'date': 2014-03-03 00:00:00, 'grade': 'A', '...",Morris Park Bake Shop,30075445
3,5ddb68d1578412652890a12f,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841
4,5ddb68d1578412652890a130,"{'building': '97-22', 'coord': [-73.8601152, 4...",Queens,Jewish/Kosher,"[{'date': 2014-11-24 00:00:00, 'grade': 'Z', '...",Tov Kosher Kitchen,40356068
...,...,...,...,...,...,...,...
3767,5ddb68d1578412652890afe3,"{'building': '451', 'coord': [-73.9462238, 40....",Brooklyn,Café/Coffee/Tea,"[{'date': 2014-04-14 00:00:00, 'grade': 'A', '...",Andy'S Cafeteria,40899816
3768,5ddb68d1578412652890afe4,"{'building': '3906', 'coord': [-73.8612466, 40...",Bronx,Chinese,"[{'date': 2014-05-12 00:00:00, 'grade': 'A', '...",New Rainbow Restaurant,40899178
3769,5ddb68d1578412652890afe5,"{'building': '108', 'coord': [-73.983943799999...",Manhattan,Japanese,"[{'date': 2014-05-31 00:00:00, 'grade': 'A', '...",Sushi Zen,40899971
3770,5ddb68d1578412652890afe6,"{'building': '1412', 'coord': [-73.9866522, 40...",Manhattan,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-04-16 00:00:00, 'grade': 'A', '...",Europa Cafe,40900039
3771,5ddb68d1578412652890afe7,"{'building': '8405', 'coord': [-74.02521709999...",Brooklyn,Chinese,"[{'date': 2014-02-25 00:00:00, 'grade': 'A', '...",Chopstix Restaurant,40900694

In [13]:
df.head(10)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,5ddb68d1578412652890a12c,"{'building': '2780', 'coord': [-73.98241999999...",Brooklyn,American,"[{'date': 2014-06-10 00:00:00, 'grade': 'A', '...",Riviera Caterer,40356018
1,5ddb68d1578412652890a12d,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
2,5ddb68d1578412652890a12e,"{'building': '1007', 'coord': [-73.856077, 40....",Bronx,Bakery,"[{'date': 2014-03-03 00:00:00, 'grade': 'A', '...",Morris Park Bake Shop,30075445
3,5ddb68d1578412652890a12f,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841
4,5ddb68d1578412652890a130,"{'building': '97-22', 'coord': [-73.8601152, 4...",Queens,Jewish/Kosher,"[{'date': 2014-11-24 00:00:00, 'grade': 'Z', '...",Tov Kosher Kitchen,40356068
5,5ddb68d1578412652890a131,"{'building': '2206', 'coord': [-74.1377286, 40...",Staten Island,Jewish/Kosher,"[{'date': 2014-10-06 00:00:00, 'grade': 'A', '...",Kosher Island,40356442
6,5ddb68d1578412652890a132,"{'building': '8825', 'coord': [-73.8803827, 40...",Queens,American,"[{'date': 2014-11-15 00:00:00, 'grade': 'Z', '...",Brunos On The Boulevard,40356151
7,5ddb68d1578412652890a133,"{'building': '7114', 'coord': [-73.9068506, 40...",Brooklyn,Delicatessen,"[{'date': 2014-05-29 00:00:00, 'grade': 'A', '...",Wilken'S Fine Food,40356483
8,5ddb68d1578412652890a134,"{'building': '6409', 'coord': [-74.00528899999...",Brooklyn,American,"[{'date': 2014-07-18 00:00:00, 'grade': 'A', '...",Regina Caterers,40356649
9,5ddb68d1578412652890a135,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731